<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
          <table class="u-full-width">
            <thead>
              <tr>
                {% for head in headers %}
                  <th><b>{{ head }}</b></th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for segment in inflation %}
                <tr>
                  {% for key, value in segment.items %}
                    {% if key == 'Суммарная' %}
                      <td bgcolor="#777777">{{value}}</td>
                    {% else %}
                      {%if value < 0 %}
                        <td bgcolor="#008800">{{value}}</td>
                      {% elif value > 5 %}
                        <td bgcolor="#660000">{{value}}</td>
                      {% elif value > 2 %}
                        <td bgcolor="#990000">{{value}}</td>
                      {% elif value > 1 %}
                        <td bgcolor="#CC0000">{{value}}</td>
                      {% else %}
                        <td>{{value}}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        
        <!-- Ваша логика -->

        </div>
      </div>
    {% endblock %}

  </body>
</html>